* {
    border: none;
    border-radius: 0;
    font-family: "Roboto Mono Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(12,53,53, 0.5);
    border-bottom: 2px solid #076166;
}

#workspaces {
    margin: 0 5px;
    padding: 0;
}

#network, #battery, #pulseaudio, #memory, #cpu, #clock {
    margin: 0 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid #0faaaa;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#idle_inhibitor {
    margin-left: 10px;
    padding: 0 7px;
    font-weight: bold;
}
#idle_inhibitor.activated {
    background-color: #0bc1c1;
}

#custom-github {
    background-color: #0bc1c1;
    padding: 0 5px;
}
