* {
    border: none;
    border-radius: 0;
    font-family: "Roboto Mono Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(12,53,53, 0.5);
    border-bottom: 2px solid #076166;
}

#workspaces {
    margin: 0 5px;
    padding: 0;
}

#network, #battery, #pulseaudio, #memory, #cpu, #clock {
    margin: 0 10px;
}

#battery.warning:not(.charging) {
    border-bottom: 2px solid orange;
}

#battery.critical:not(.charging) {
    border-bottom: 2px solid red;
}

#battery.nagging:not(.charging) {
    border-bottom: 2px solid red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
	border: none;
    }
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid #0faaaa;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#idle_inhibitor {
    margin-left: 15px;
}
.activated {
    border-bottom: 3px solid #0faaaa;
}

#custom-github {
    border-bottom: 3px solid #0faaaa;
}

#custom-aeroplane, #idle_inhibitor {
    font-family: "Material Design Icons";
}

#custom-aeroplane, #custom-github, #idle_inhibitor {
    margin-left: 2px;
    padding: 0 5px;
    font-weight: bold;
}

